<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Chris Grant for President</title>
    </style>
    <!-- Scripts? -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/scrolling-nav.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><b>GRANT<b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#issues">Issues</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#campaign">Campaign</a>
                    </li>
		    <li>
		      <a class="page-scroll" href="#join">Join</a>
		    </li>
		    <li>
		      <a class="page-scroll" href="#donate">Donate</a>
		    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section"  style="background-image: url('../static/img/flag.jpg'); background-size: 100% 100%;">
        <div class="container">
            <div class="row">
	      <div style="position:absolute; bottom:5%; left:0; margin-left:auto; right:0; margin-right:auto;">
		<a class="btn btn-default page-scroll" href="#about">Learn More!</a>
	      </div>
            </div>
        </div>
	
    </section>

    <!-- About Pres Section -->
    <section id="about" class="about-pres-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <h1>Meet Your Presidential Candidate</h1>
                <div class="row">
		  <div class="col-sm-6">
                    <img src="../static/img/pres.jpg" width="300" height="300" class="img-responsive" alt="Chris">
		  </div>
		  <div class="col-sm-6">
                    Lorem ipsum dolor sit amet, rutrum pretium nulla maecenas aliquam, facilisis et, a urna metus convallis aliquam, vestibulum lobortis, donec inrisus cum ut laoreet ultrices. Adipiscing rutrum adipiscingetid, consequat tellus quis, augue maecenas laoreet, quam non adipiscing pellentesque, sapien in
teger lacinia felis tortor fames. Id nunc, dictum quisque at. Vitae velit a eni
m earum tristique, porta wisi, sollicitudin lectus nibh sed. Maecenas orci temp
or mauris arcu diam fusce. Ante dignissim luctus vestibulum ligula egestas offi
cia. Magna amet et velit tellus, enim vivamus. Orci ornare lobortis nec, aliqua
m vitae fusce, sed sit velit erat orci urna. In arcu ornare felis, condimentum 
integer dignissim. Nulla lacus ipsum massa felis accumsan, eleifend eu. Nulla l
orem nec, duis duis nec, eleifend eu ut, in ut mauris interdum ante rutrum, vuputate dolor mus nunc.
              </div>
		</div>
            </div>
        </div>
    </section>

    <!-- About VP Section -->
    <section id="about-vp" class="about-vp-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1>And His Vice President</h1>
            <div class="row">
	      <div class="col-sm-6">
		Lorem ipsum dolor sit amet, rutrum pretium nulla maecenas aliquam, facilisis et, a urna metus convallis aliquam, vestibulum lobortis, donec in risus cum ut laoreet ultrices. Adipiscing rutrum adipiscing et id, consequat tellus quis, augue maecenas laoreet, quam non adipiscing pellentesque, sapien integer lacinia felis tortor fames. Id nunc, dictum quisque at. Vitae velit a enim earum tristique, porta wisi, sollicitudin lectus nibh sed. Maecenas orci tempor mauris arcu diam fusce. Ante dignissim luctus vestibulum ligula egestas officia. Magna amet et velit tellus, enim vivamus. Orci ornare lobortis nec, aliquam vitae fusce, sed sit velit erat orci urna. In arcu ornare felis, condimentum integer dignissim. Nulla lacus ipsum massa felis accumsan, eleifend eu. Nulla lorem nec, duis duis nec, eleifend eu ut, in ut mauris interdum ante rutrum, vulputate dolor mus nunc.
	      </div>
	      <div class="col-sm-6">
		<img src="../static/img/vp.jpg" width="300" height="300" class="img-responsive" alt="Rahul">
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </section>

    
    <!-- Issue Section -->
    <section id="issues" class="issues-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Issues Section</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Campaign Section -->
    <section id="campaign" class="campaign-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Campaign Team</h1>
		    <center>
		    <img src="../static/img/team.jpg" class="img-responsive" alt="Campaign Team">
		    </center>
		</div>
            </div>
        </div>
    </section>
    
    <!-- Join Section -->
    <section id="join" class="join-section">
        <div class="container">
            <div class="row">
	      <div class="container">
		<h2>Sign Up to Join the Campaign!</h2>
		<form role="form">
		  <div class="form-group">
		    <input type="email" id="email" placeholder="Enter your email">
		  </div>
		  <div class="checkbox">
		    <label><input type="checkbox">I want to receive emails about the Grant Campaign</label>
		  </div>
		  <button type="submit" class="btn btn-default">Sign Up!</button>
		</form>
	      </div>
            </div>
        </div>
    </section>
    
    <!-- Donate Section -->
    <section id="donate" class="donate-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Donate Section</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/scrolling-nav.js"></script>

</body>

</html>
